.header-part {
    background: url(Images/banner/banner3.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
}
.header-content {
    text-align: right;
    margin-right: 230px;
    margin-top: 216px;
    margin-left: auto;
    width: 526px;
    height: 426px;
}
.header-content h1 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    color: #FFFFFF;
}
.header-content h6 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;

}
.header-content button {
    width: 160px;
    height: 64px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-family: 'Work Sans';
    color: #005FAc;
    font-size: 20px;
    font-weight: 600px;
    line-height: 23px;
}
.failure-part{
    
 
    margin-top:1000px;
    margin-left: 200px;
    background-color: #FFFFFF;
}
.content{
    display: flex;
    justify-content: space-evenly;
    gap: 120px;
}
.img-part img{
    margin-left: 100px;
}
.failure-point{
    margin-top: 230px;
    margin-right: 150px;
    position: relative;
    width: 448.99px;
    height: 400px;
}
.failure-point h1{
    text-align: left;
}
.fa-solid{
    color: rgb(21, 183, 40);
}
.planning-part{
    margin-top:100px;
}
.planning-part h1{
    text-align: center;
    color: #005FAc;

}
.category{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 170px;
}
.category img{
    display: block;
    margin:  auto;
}
.category h1{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
}
.category h4{
/* font-style: normal;
font-weight: 300;
font-size: 25px;
/* line-height: 29px; */
text-align: center;
color: #737272; 
}
.gradient-part{
    background-image:url(./Images/Gradient-color/gradient1.png), url(./Images/watch.png);
    /* opacity: 0.5; */
    background-repeat: no-repeat;
    margin-left: 380px;
    margin-right:400px;
    height: 300px;
    width: 1164px;
    margin-top: 50px;
    position: absolute;
    
}
.inner-part{
    position: absolute;
    margin-left: 50px;
    margin-top: 25px;
}
.inner-part h1 {
font-family: 'Work Sans';
font-style: normal;
/* font-weight: 700; */
font-size: 40px;
color: #FFFFFF;
}
.inner-part button{
width: 160px;
height: 64px;
/* margin-left: 20px; */
background: #FFFFFF;
border-radius: 5px;
border: none;
font-weight: 600;
font-size: 20px;
line-height: 23px;
text-align: center;
color: #005FAC;
}
.bonus-part{
    margin-top: 400px;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 0px;
    background: linear-gradient(270deg, #6a7892 0%, rgba(0, 95, 172, 0) 150%);
}
.faq-div{
    position: absolute;
    margin-left:50%;
    margin-right: 50%;
}
hr{
    background-color:chartreuse;
    height: 1px;
    border: 0;
}
.question{
    display: flex;
    justify-content: space-between;
    
}
.question h2{
 color: #FFFFFF;
}
.font-awesome-ico{
    margin-top: 35px;

}
.fa-solid{
    color:red
}
.faqs-label{
    position: absolute;
    margin-left: 15%;
}
.faqs-label h1{
    color: #F8F8F8;
}
.faqs-label h3{
 color: #F8F8F8;
}
.footer{
margin-top: 50px;
background-color: #151414;
height: 580px;

}
.future{
display: flex;
justify-content: space-between;
/* gap:50px; */
}
.future h1 {
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 45px;
color: #F8F8F8;
}
.future p{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #F8F8F8;
}
.left-part{
    margin-left: 230px;
    margin-top: 130px;
}
.right-part{
    margin-right: 230px;
    margin-top: 130px;
}
.right-part input{
    width: 325px;
    height: 64px; 
    border-radius: 5px; 
    border: 1px solid #F8F8F8;; 
    background-color: #151414;
    color: #F8F8F8;
    text-align: left;
}
.right-part button{
margin-top:20px;
width: 170px;
height: 64px;
background: #005FAC;
border-radius: 8px;
color: #F8F8F8;
font-weight: 600;
font-size: 20px;
}
.social-ico img{
    margin: 5px;
}

